/* desgin scroll in web */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151b1f;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}


html::-webkit-scrollbar-thumb {
    background-color: #7fa945;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
    border-radius: 50px;
}




/* info */

.start {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: url("/images/1.jpg");
    height: 45px;
}


.start p {
    padding-top: 1%;
    color: #ffffff;
    letter-spacing: 0.2rem;
    font-family: "Comic Sans MS";
}



/* start image */

.HomeImage {
    position: relative;
    text-align: center;
    text-align: center;
}

.HomeImage img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.HomeImage h1 {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Comic Sans MS";
    color: #d79f32;
    font-size: 30px;
}



/* BMI */

.modal-contentBMI {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: url("./images/istockphoto-528072248-612x612.jpg");
    box-shadow: inset rgba(0, 0, 0, 0.538) 0 0 0 500px;
    transition: box-shadow 400ms;
    background-clip: padding-box;
    border-radius: 15px;
}


.styleBmi .closes {
    padding-left: 80%;
    font-size: 2.5rem;
    line-height: 1;
    color: rgb(255, 255, 255);
    opacity: 1;
    border: none;
    background-color: none;
    -webkit-appearance: none;
    width: 50px;
    cursor: pointer;
}


.styleBmi button {
    color: white;
    border-radius: 15px;
    letter-spacing: .1rem;
}


.styleBmi h1 {
    color: white;
    font-size: 30px;
    letter-spacing: .2rem;
    font-family: "Comic Sans MS";
}

.form-group input {
    width: 300px;
    background: #d3e1cad3;
    color: black;
    font-size: 17px;
    text-align: center;
    letter-spacing: .1rem;
    border: none;
    border-radius: 15px;
}


.form-group input::placeholder {
    color: rgb(0, 0, 0);
}


#weightError {
    background: rgba(0, 0, 0, 0.418);
    display: none;
    color: #DF2020;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#heightError {
    background: rgba(0, 0, 0, 0.418);
    display: none;
    color: #DF2020;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}



/* mini calc */

/* .modal-contentMiniCalc {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    box-shadow: rgb(0 0 0 / 25%) 25px 25px 75px, rgb(0 0 0 / 25%) 10px 10px 70px, rgb(0 0 0 / 25%) -5px -5px 15px inset, rgb(0 0 0 / 25%) 5px 5px 15px inset;
    background: url("/images/paperMath.jpg");
    background-clip: padding-box;
    border-radius: 15px;
}


.modal-contentMiniCalc h1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-family: "Comic Sans MS";
}



.inP {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.inP input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 222, 179, 0);
    border: 2px solid #989e92;
    color: black;
    font-size: 20px;
    height: 50px;
    width: 80px;
    opacity: 0.7;
    border-radius: 15px;
    font-weight: bold;
    margin: 2%;
}


.inP p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: none;
    border: 2px solid #989e92;
    color: black;
    font-size: 20px;
    height: 50px;
    width: 180px;
    opacity: 0.7;
    border-radius: 15px;
    font-weight: bold;
    margin: 2%;
}


.inP select {
    background-color: rgba(245, 245, 245, 0);
    border-radius: 15px;
    border: 0;
    outline: none;
    width: auto;
    height: 6%;
    margin: 1%;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.inP h6 {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 1%;
}



.styleMiniCalc h2 {
    padding-left: 70%;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: rgb(0, 0, 0);
    border: none;
    background-color: none;
    -webkit-appearance: none;
    width: 50px;
    cursor: pointer;
} */





/* Big Calc style */

.modal-contentBigCalc {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: none;
    background-clip: padding-box;
}

.styleBigCalc {
    display: flex;
    justify-content: center;
}


.calculater {
    background-color: #F3EEE7;
    width: 290px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 80%/20px;
    box-shadow: inset 5px 0 10px -5px #635e61, inset -5px 0 10px -5px #635e61, inset 0 -5px 10px -2px #635e61, 0 10px 20px 0 #494547;
}

.calculater .title {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Comic Sans MS";
}


.calculater-input {
    margin-left: 9%;
    text-align: right;
    font-size: 18px;
    line-height: 40px;
    background-color: #C7C7B0;
    border: 1px solid #b2b292;
    border-radius: 5px;
    width: 80%;
    height: 40px;
}

.table>tbody>tr>td {
    vertical-align: middle;
    border: none;
    padding: 0.60rem;
}

.calculater-btns {
    margin: 10px 15px;
}



.table .closeCalc button {
    background-image: linear-gradient(to bottom, #CC4E5F, #b33445) !important;
    box-shadow: inset 0 1px 4px #e39da7, inset 0 -4px 20px #b33445 !important;
    border: 1px solid #CC4E5F !important;
    width: 55px;
    border-radius: 5px;
}


.table button {
    color: white;
    width: 40px;
    height: 30px;
    border: 1px solid #4B4657;
    border-radius: 21px/9px;
    background-image: linear-gradient(to bottom, #4B4657, #332f3b);
    box-shadow: inset 0 1px 4px #7c748f, inset 0 -4px 20px #332f3b, 0 3px 1px 0 #332f3b;
}

.table button:focus {
    outline: none;
}

.table button:active {
    background-image: linear-gradient(to top, #4B4657, #332f3b);
}

.red-button {
    background-image: linear-gradient(to bottom, #CC4E5F, #b33445) !important;
    box-shadow: inset 0 1px 4px #e39da7, inset 0 -4px 20px #b33445 !important;
    border: 1px solid #CC4E5F !important;
}

.red-button:active,
.table .closeCalc button:active {
    background-image: linear-gradient(to top, #CC4E5F, #b33445) !important;
}

.big-button {
    height: 70px !important;
}



/* cards ui models */

:root {
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

.box img {
    float: right;
    height: 75px;
    cursor: pointer;
}


.cyan {
    border-top: 3px solid #fdcb0c;
}

.red {
    border-top: 3px solid #2c8684;
}

.blue {
    border-top: 3px solid #1eddb1;
}

.orange {
    border-top: 3px solid #ab7cf0;
}

.box {
    text-align: center;
    height: auto;
}

.box h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
    font-family: "Comic Sans MS";
    font-size: 22px;
    align-items: center;
    text-align: center;
}



.box p {
    font-family: "Comic Sans MS";
    align-items: center;
    text-align: center;
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-down {
        position: relative;
        top: 150px;
    }

    .box {
        width: 25%;
    }

    .box {
        text-align: center;
        height: auto;
    }

    .box img {
        float: none;
        height: 75px;
        cursor: pointer;
    }

    .header p {
        width: 30%;
    }
}




/* Multiplication */

#mtable {
    font-family: "Comic Sans MS";
    border-collapse: collapse;
    background-color: #f2c9ab;
}

#mtable td,
#mtable th {
    border: 1px solid #ddd;
    padding: 8px;

}

#mtable tr:nth-child(even) {
    background-color: #FFF8DC;
}

#mtable tr:hover {
    background-color: #F5DEB3;
}


.modal-contentMultiplication {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1100px;
    pointer-events: auto;
    background-color: none;
    background-clip: padding-box;
    box-shadow: rgb(0 0 0 / 25%) 25px 25px 75px, rgb(0 0 0 / 25%) 10px 10px 70px, rgb(0 0 0 / 25%) -5px -5px 15px inset, rgb(0 0 0 / 25%) 5px 5px 15px inset;
    background: url("/images/ll.jpg");
    border-radius: 15px;
}

.uiTable .resMultiplication {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #dadccf58;
}


.uiTable {
    text-align: center;
}

.uiTable h1 {
    font-family: "Comic Sans MS";
    font-size: 27px;
    background-color: #fff8dca8;
    color: rgb(0, 0, 0);
}



.uiTable .closes {
    padding-left: 90%;
    margin-top: -5%;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: rgb(0, 0, 0);
    border: none;
    background-color: none;
    -webkit-appearance: none;
    width: 50px;
    cursor: pointer;
}






/* fotter */

.fotter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: url("/images/1.jpg");
    height: 30px;
    width: 100%;
}


.fotter p {
    padding-top: 1%;
    color: white;
    font-size: 12px;
    letter-spacing: 0.1rem;
    font-family: "Comic Sans MS";
}


/* responsive */

@media(max-width:991px) {

    .HomeImage h1 {
        top: 50%;
        font-size: 30px;
    }

    .start p {
        font-size: 15px;
        letter-spacing: 0.1rem;
    }

    .fotter p {
        padding-top: 3%;
    }

    .box {
        text-align: center;
        height: auto;
    }

    .box img {
        float: none;
        height: 75px;
        cursor: pointer;
    }


    .containerBigCalc {
        position: relative;
        min-width: 100px;
        min-height: 100px;
        padding: 20px 30px 30px;
    }

    .containerBigCalc span {
        width: 30px;
        margin: 8px;
        height: 30px;
    }

    .table button {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }


    .inP input {
        font-size: 16px;
        height: 50px;
        width: 60px;
    }


    .inP p {
        font-size: 16px;
        width: 100px;
    }
}










/* Translate */

.modal-contentTranslate {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    box-shadow: rgb(0 0 0 / 25%) 25px 25px 75px, rgb(0 0 0 / 25%) 10px 10px 70px, rgb(0 0 0 / 25%) -5px -5px 15px inset, rgb(0 0 0 / 25%) 5px 5px 15px inset;
    background: url("/images/paperMath.jpg");
    background-clip: padding-box;
    border-radius: 15px;
}


.modal-contentTranslate h1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-family: "Comic Sans MS";
}


.styleTranslate h2 {
    padding-left: 70%;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: rgb(0, 0, 0);
    border: none;
    background-color: none;
    -webkit-appearance: none;
    width: 50px;
    cursor: pointer;
}

.text-input textarea::placeholder{
    color: #000000;
}



.wrapper {
    border-radius: 5px;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 3px solid #e0958f;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 3px solid #e0958f;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #9bcab6;
    border: none;
    color: #000000;
}


.controls,
li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}


.controls .row select {
    color: #333;
    outline: none;
    font-size: 18px;
    background: #d2b069;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}







/* responsive */

@media(max-width:991px) {

    .HomeImage h1 {
        top: 50%;
        font-size: 30px;
    }

    .start p {
        font-size: 15px;
        letter-spacing: 0.1rem;
    }

    .fotter p {
        padding-top: 3%;
    }

    .box {
        text-align: center;
        height: auto;
    }

    .box img {
        float: none;
        height: 75px;
        cursor: pointer;
    }


    .containerBigCalc {
        position: relative;
        min-width: 100px;
        min-height: 100px;
        padding: 20px 30px 30px;
    }

    .containerBigCalc span {
        width: 30px;
        margin: 8px;
        height: 30px;
    }

    .table button {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    /* 
    .inP input {
        font-size: 16px;
        height: 50px;
        width: 60px;
    }


    .inP p {
        font-size: 16px;
        width: 100px;
    } */

    .wrapper .text-input {
        flex-direction: column;
    }


    .text-input textarea {
        height: auto;
    }


    .wrapper .text-input {
        display: flex;
        border: none;
    }

    .text-input .to-text {
        border-radius: 0px;
        border-top: 3px solid #e0958f;
        border-left: none;
    }

    .controls .row select {
        font-size: 14px;
        width: 65%;
    }


    .text-input textarea {
        font-size: 15px;
        background: #9bcab6;
    }
}